#sub
{
    margin-left: 250px;
    margin-top: 50px;
}
#degree
{
    margin-left: 250px;
}
#color
{
    margin-left: 250px;
}
#checked
{
    margin-left: 400px;
}
#but{
    margin-left: 650px;
}


.first {
    margin-left: 70px;
}
.ffirst {
    margin-left: 70px;
}
.cc{
    margin-right: 105px;
}
.ch{

 margin-right: 60px;
}